@media only screen and (min-width: 1140px) {

/*-----INSIDE THE WRAPPERS-----*/
	header, nav, .row, footer {
		/* on desktop we want to limit the width of all 4 of these elements, otherwise text will expand well beyond
			1140px and won't look good and be too long for reading */
		max-width: 1140px;
		/* 0 top and bottom, auto left and right.  centers everything on the page */
		margin: 0 auto;
	}


/*---------- NAVIGATION -----------*/
	/* on desktop, let's take advantage of having a hover state */

	nav ul li a {
		transition: background .3s linear;	/* fade to orange */
	}
	nav ul li a:hover {
		background-color:#ff7200;	/* orange */
	}
	
	
	
} /*end of the media query */